{% extends 'app/layouts/default.html' %} {% block content %} {% load crispy_forms_tags %}
<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <div></div>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header py-3">
                    </div>
                    <div class="card-body">
                        <!-- Vertical Form -->

                        <form action="{% url 'acheter_store' %}" method="post">
                            {% csrf_token %}
                            <div class="col-12">
                                <label>Categories</label>
                                <Select name='category' id="category_id" class='form-control'>
                                            <option value="">--------</option>
                                            {% for cat in categories %}
                                            <option value="{{cat.id}}">{{cat.category_name}}</option>
                                            {% endfor %}
                                        </select>
                            </div>

                            <div class="col-12">
                                {{ form.product|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.quantite|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.date|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.unit_price|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.total_price|as_crispy_field }}
                            </div>
                            <div class="text-center">
                                <br/>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                        <!-- Vertical Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
            Content body end
        ***********************************-->
{% endblock %}